page-about {
  text-align: center;
  ul{
    text-align: left;
  }

  ion-card.header-image-card {

    position: relative;
    text-align: center;
    height: 150px;

    .layover{
      position: absolute;
      left:0;
      top:0;
      bottom: 0;
      right: 0;
      z-index: 5;
      background-color: rgba(255,255,255,0.7);
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.5em;
      width: 100%;
      font-weight: bold;
      color: color($colors, dark);;
      z-index: 10;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  }

  .image-card{
    position: relative;
    text-align: center;

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }


}


