<ion-header>
    <ion-toolbar>
        <ion-segment [(ngModel)]="filter.type" (ionChange)="applyFilters()">
            <ion-segment-button value="all">All</ion-segment-button>
            <ion-segment-button value="esn">ESN</ion-segment-button>
            <ion-segment-button value="partners">Partners</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label>Filter by Country</ion-label>
            <ion-select [(ngModel)]="filter.country" (ionChange)="applyFilters()">
                <ion-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Search</ion-label>
            <ion-input (input)="applyFilters()" [(ngModel)]="filter.search"></ion-input>
            <ion-badge item-right>{{filteredExhibitors?.length}}</ion-badge>
        </ion-item>
    </ion-list>




    <div *ngFor="let exhibitor of filteredExhibitors; let i = index">
        <ion-row *ngIf="i%4==0" responsive-sm>
            <ion-col >
                <exhibitor-card [exhibitor]="filteredExhibitors[i]"></exhibitor-card>
            </ion-col>
            <ion-col >
                <exhibitor-card [exhibitor]="filteredExhibitors[i+1]"></exhibitor-card>
            </ion-col>
            <ion-col >
                <exhibitor-card [exhibitor]="filteredExhibitors[i+2]"></exhibitor-card>
            </ion-col>
            <ion-col >
                <exhibitor-card [exhibitor]="filteredExhibitors[i+3]"></exhibitor-card>
            </ion-col>
        </ion-row>
    </div>

</ion-content>
