page-universities-overview {
  

  .country-shape-card {
    cursor: pointer;
    padding: 10px;
    min-width:220px;
    img {
      fill: green;
      height: 161px;

    }

    position: relative;
    text-align: center;

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;

      width: calc(100% - 32px);
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
    }
  }

}
