exhibitor-card {
  ion-img{
    padding: 5px;
    height: 98px;
    width: 100%;
    background:transparent;
    img{
      height:100%;
      width: initial;
      display: block;
      margin: auto;

    }
  }
  min-width: 300px;
  display:block;
}
