$navbar-height: 36px;

language-switch-button {
  display: inline-block;
  div {
    width: 48px;
    height: 36px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

}
