<ion-header>

    <ion-navbar>
        <combined-navbar></combined-navbar>
    </ion-navbar>

</ion-header>


<ion-content>

    <h1>
        <span>{{"Speakers and Speeches at the Mobility Fair"|trans}}</span>
    </h1>
    <ion-card>


        <ion-card-content>
            <!--header row for large screens-->
            <ion-row *ngIf="!isSmallScreen()" class="header-row">
                <ion-col col-2></ion-col>
                <ion-col col-1>
                    <span>{{"Time"|trans}}</span>
                </ion-col>
                <ion-col col-2>
                    <span>{{"Room"|trans}}</span>
                </ion-col>
                <ion-col col-2>
                    <h2>
                        <span>{{"Speaker"|trans}}</span>
                    </h2>
                </ion-col>
                <ion-col col-5>
                    <h2>
                        <span>{{"Topic"|trans}}</span>
                    </h2>
                </ion-col>
            </ion-row>
            <div *ngFor="let speaker of speakers">
                <ion-row wrap>
                    <ion-col col-12 col-sm-2>
                        <div class="speaker-logo-container">
                            <img src="{{speaker.logoUrl}}" alt="" class="speaker-logo" *ngIf="speaker.logoUrl">
                        </div>
                    </ion-col>
                    <ion-col col-12 col-sm-1>
                        {{speaker.time}}
                    </ion-col>
                    <ion-col col-12 col-sm-2>
                        {{speaker.room}}
                    </ion-col>
                    <ion-col col-12 col-sm-2>
                        <p *ngIf="isSmallScreen()"><strong>Speaker</strong></p>
                        <p>{{speaker.name}}</p>
                    </ion-col>
                    <ion-col col-12 col-sm-5>
                        <p *ngIf="isSmallScreen()"><strong>Topic</strong></p>
                        <p>{{speaker.topic}}</p>
                        <button outline small icon-right ion-button *ngIf="speaker.description" (click)="showMore(speaker)" class="more-button">More
                            <ion-icon name="open"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
                <hr>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>
