<!--
  Generated template for the PartnersPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
        <combined-navbar></combined-navbar>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card class="partner-overview-card">
        <ion-card-content>
            <ion-card-title>
                <span>{{partner.name}}</span>
            </ion-card-title>

            <div class="injectedHTML" [innerHTML]="snippet" *ngIf="snippet && partner.snippetUrl"></div>

            <div *ngIf="!partner.snippetUrl">
                <p>
                    <strong>{{partner.tagline}}</strong>
                </p>
                <p>
                    <span>{{partner.description}}</span>
                </p>

                <h4>Facts:</h4>
                <ul>
                    <li><strong>Location: </strong>{{partner.city}}</li>
                    <li><strong>Website: </strong><a href="http://deutsche-boerse.com/dbg-en/career" target="_blank">deutsche-boerse.com/dbg-en/career</a>
                    </li>
                </ul>
            </div>
        </ion-card-content>
    </ion-card>


</ion-content>
