// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-title-md {
  text-align: center;
}
@media (min-width: 567px) {
  html{font-size: 68% !important;
  }
}


body {
    overflow:scroll;
    height:100.2%;
    max-height: 100.2%;
  user-select: initial;
  -webkit-user-select: initial;

  .scroll-content{
    margin-top: 158px;
  }
}

.ion-page{
  background: url('../assets/img/flag-parade.jpg');
  background-size: cover;

  text-align: center;
  ion-card{
    ion-card-title{
      text-align: center;
    }
    text-align: left;
  }
}

.scroll-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

//==== facebook button
$fb-white: #fff;
$fb-blue: #3b5998;
$fb-blue-dark: #2d4373;
$fb-blue-extra-dark: #23345a;
$fb-border: rgba(0, 0, 0, 0.2);

.btn-facebook {
  color: $fb-white;
  background-color: $fb-blue;
  border-color: $fb-border;

  &:focus {
    color: $fb-white;
    background-color: $fb-blue-dark;
    border-color: $fb-border;
  }

  &:hover {
    color: $fb-white;
    background-color: $fb-blue-dark;
    border-color: $fb-border;
  }

  &:active, &.activated {
    color: $fb-white;
    background-color: $fb-blue-dark;
    border-color: $fb-border;
  }

  &:active:hover {
    color: $fb-white;
    background-color: $fb-blue-extra-dark;
    border-color: $fb-border
  }

  &[disabled] {
    background-color: $fb-blue;
    border-color: $fb-border
  }
}
